In [ ]:
# Dependencies
import pandas as pd
file_one = "./Resources/US_Accidents_Dec19.csv"
file_one_df = pd.read_csv(file_one)

In [33]:
file_one_df.head()

,ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,MapQuest,201.0,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,MapQuest,201.0,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Night,Day
2,A-3,MapQuest,201.0,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,...,False,False,False,False,True,False,Night,Night,Day,Day
3,A-4,MapQuest,201.0,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,...,False,False,False,False,False,False,Night,Day,Day,Day
4,A-5,MapQuest,201.0,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,...,False,False,False,False,True,False,Day,Day,Day,Day

In [34]:
file_one_df.count()

ID                       2974335
Source                   2974335
TMC                      2246264
Severity                 2974335
Start_Time               2974335
End_Time                 2974335
Start_Lat                2974335
Start_Lng                2974335
End_Lat                   728071
End_Lng                   728071
Distance(mi)             2974335
Description              2974334
Number                   1056730
Street                   2974335
Side                     2974335
City                     2974252
County                   2974335
State                    2974335
Zipcode                  2973455
Country                  2974335
Timezone                 2971172
Airport_Code             2968644
Weather_Timestamp        2937630
Temperature(F)           2918272
Wind_Chill(F)            1121712
Humidity(%)              2915162
Pressure(in)             2926193
Visibility(mi)           2908644
Wind_Direction           2929234
Wind_Speed(mph)          2533495
Precipitation(in)         975977
Weather_Condition        2908403
Amenity                  2974335
Bump                     2974335
Crossing                 2974335
Give_Way                 2974335
Junction                 2974335
No_Exit                  2974335
Railway                  2974335
Roundabout               2974335
Station                  2974335
Stop                     2974335
Traffic_Calming          2974335
Traffic_Signal           2974335
Turning_Loop             2974335
Sunrise_Sunset           2974242
Civil_Twilight           2974242
Nautical_Twilight        2974242
Astronomical_Twilight    2974242
dtype: int64

In [35]:
file_one_df.dtypes

ID                        object
Source                    object
TMC                      float64
Severity                   int64
Start_Time                object
End_Time                  object
Start_Lat                float64
Start_Lng                float64
End_Lat                  float64
End_Lng                  float64
Distance(mi)             float64
Description               object
Number                   float64
Street                    object
Side                      object
City                      object
County                    object
State                     object
Zipcode                   object
Country                   object
Timezone                  object
Airport_Code              object
Weather_Timestamp         object
Temperature(F)           float64
Wind_Chill(F)            float64
Humidity(%)              float64
Pressure(in)             float64
Visibility(mi)           float64
Wind_Direction            object
Wind_Speed(mph)          float64
Precipitation(in)        float64
Weather_Condition         object
Amenity                     bool
Bump                        bool
Crossing                    bool
Give_Way                    bool
Junction                    bool
No_Exit                     bool
Railway                     bool
Roundabout                  bool
Station                     bool
Stop                        bool
Traffic_Calming             bool
Traffic_Signal              bool
Turning_Loop                bool
Sunrise_Sunset            object
Civil_Twilight            object
Nautical_Twilight         object
Astronomical_Twilight     object
dtype: object

In [36]:
#get just the data we want four our analysis
traffic_df = (file_one_df[['ID','Source','Severity','Start_Time','Street','Side','City','County','State',
                           'Zipcode','Timezone','Temperature(F)','Wind_Chill(F)','Humidity(%)',
                           'Visibility(mi)','Wind_Speed(mph)','Weather_Condition','Sunrise_Sunset']])

In [37]:
# fix column names
traffic_df=traffic_df.rename(
    columns={'Source':'SOURCE','Severity':'SEVERITY','Start_Time':'START_TIME','Street':'STREET',
             'Side':'SIDE','City':'CITY','County':'COUNTY','State':'STATE',
             'Zipcode':'ZIPCODE','Timezone':'TIMEZONE','Temperature(F)':'TEMPERATURE',
             'Wind_Chill(F)':'WIND_CHILL','Humidity(%)':'HUMIDITY',
             'Visibility(mi)':'VISIBILITY','Wind_Speed(mph)':'WIND_SPEED','Weather_Condition':'WEATHER_CONDITION',
             'Sunrise_Sunset':'SUNRISE_SUNSET'})

In [38]:
# fix column names
traffic_df

,ID,SOURCE,SEVERITY,START_TIME,STREET,SIDE,CITY,COUNTY,STATE,ZIPCODE,TIMEZONE,TEMPERATURE,WIND_CHILL,HUMIDITY,VISIBILITY,WIND_SPEED,WEATHER_CONDITION,SUNRISE_SUNSET
0,A-1,MapQuest,3,2016-02-08 05:46:00,I-70 E,R,Dayton,Montgomery,OH,45424,US/Eastern,36.9,NaN,91.0,10.0,NaN,Light Rain,Night
1,A-2,MapQuest,2,2016-02-08 06:07:59,Brice Rd,L,Reynoldsburg,Franklin,OH,43068-3402,US/Eastern,37.9,NaN,100.0,10.0,NaN,Light Rain,Night
2,A-3,MapQuest,2,2016-02-08 06:49:27,State Route 32,R,Williamsburg,Clermont,OH,45176,US/Eastern,36.0,33.3,100.0,10.0,3.5,Overcast,Night
3,A-4,MapQuest,3,2016-02-08 07:23:34,I-75 S,R,Dayton,Montgomery,OH,45417,US/Eastern,35.1,31.0,96.0,9.0,4.6,Mostly Cloudy,Night
4,A-5,MapQuest,2,2016-02-08 07:39:07,Miamisburg Centerville Rd,R,Dayton,Montgomery,OH,45459,US/Eastern,36.0,33.3,89.0,6.0,3.5,Mostly Cloudy,Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2974330,A-2974354,Bing,2,2019-08-23 18:03:25,Pomona Fwy E,R,Riverside,Riverside,CA,92501,US/Pacific,86.0,86.0,40.0,10.0,13.0,Fair,Day
2974331,A-2974355,Bing,2,2019-08-23 19:11:30,I-8 W,R,San Diego,San Diego,CA,92108,US/Pacific,70.0,70.0,73.0,10.0,6.0,Fair,Day
2974332,A-2974356,Bing,2,2019-08-23 19:00:21,Garden Grove Fwy,R,Orange,Orange,CA,92866,US/Pacific,73.0,73.0,64.0,10.0,10.0,Partly Cloudy,Day
2974333,A-2974357,Bing,2,2019-08-23 19:00:21,San Diego Fwy S,R,Culver City,Los Angeles,CA,90230,US/Pacific,71.0,71.0,81.0,10.0,8.0,Fair,Day
2974334,A-2974358,Bing,2,2019-08-23 18:52:06,CA-210 W,R,Highland,San Bernardino,CA,92346,US/Pacific,79.0,79.0,47.0,7.0,7.0,Fair,Day

In [39]:
from sqlalchemy import create_engine

def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = create_engine(database, echo=False)
        return conn
    except:
        print('Error creating db connection')
 
    return conn

In [40]:
database = 'sqlite:///./Resources/traffic.db'
conn = create_connection(database)

In [44]:
#delete data from table before reload
conn.execute('''delete from accidents''')

In [45]:
#load the accident data
traffic_df.to_sql(name="accidents", con=conn,
                  if_exists="append", index=False)